button{
    margin:-2px;
    
}
.container{
    border: 10px solid black;
    margin: 300px 400px 400px 500px;
    align-items: center;
    text-align: center;
    width: 16.7%;
    height: 100%;
}
.white{
    background-color: white;
    display: none;
}
.black{
    background-color: black;
}